REPLICADO2MONGODB_REPLICADO_HOST=192.168.8.13
REPLICADO2MONGODB_REPLICADO_PORT=27017
REPLICADO2MONGODB_REPLICADO_DB=replicado
REPLICADO2MONGODB_REPLICADO_USER=admin
REPLICADO2MONGODB_REPLICADO_PASS=admin