REPLICADO_HOST=""
REPLICADO_PORT=5005
REPLICADO_DATABASE=""
REPLICADO_USERNAME=""
REPLICADO_PASSWORD=""
REPLICADO_CODUNDCLG=8
REPLICADO_CODUNDCLGS=8

REPLICADO2MONGODB_HOST=mongodb
REPLICADO2MONGODB_PORT=27017
REPLICADO2MONGODB_DB=root
REPLICADO2MONGODB_PASS=replicado2mongodb